/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fff8e1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  /* border: 2px black solid; */
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  /* border: 2px black solid; */
  padding: 10px;
  margin-left: 60px;
  cursor: pointer;
}

.right {
  width: 300px;
  /* border: 2px red solid; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.auth {
  width: 100px;
  height: 38px;
  border: none;
  background-color: #3e3b39;
  color: white;
  font-size: 15px;
  border: 2px #3e3b39 solid;
  border-radius: 20px;
  padding: 5px;
  font-weight: bold;
}

.auth:hover {
  background-color: #fff8e1;
  font-weight: bolder;
  color: #3e3b39;
  transition: 0.4s;
  cursor: pointer;
}

footer {
  /* border: 2px red solid; */
  /* height: 70px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.credits {
  /* border: 2px black solid; */
  font-size: 18px;
  font-weight: bold;
  color: #3e3b39;
  margin: 10px;
  margin-left: 50px;
}

.linkedin {
  font-weight: bolder;
  font-size: 22px;
  color: #3e3b39;
  text-decoration: none;
}

.linkedin:hover {
  text-decoration: underline;
}

.github {
  /* border: 2px black solid; */
  height: 50px;
  width: 50px;
  margin: 20px;
  margin-right: 50px;
}
